google-generativeai
fpdf2
pandas
matplotlib==3.8.2
seaborn
plotly
Pillow
pydub
nltk
wordcloud
pytesseract
numpy
scipy
librosa
PyPDF2
pdf2image
openpyxl
python-docx
python-pptx
sqlalchemy
h5py
tqdm
opencv-python
ffmpeg-python
moviepy
joblib
patool
py7zr
python-magic
python-magic-bin
rarfile
xlrd
mutagen
cairosvg
lxml
odfpy
epub
regipy
mido
markdown
configparser
python-chess
ebooklib
svgpathtools
selenium
html2text
bs4
